<div class="footer">
	<div class="info">
		<p>秘书处联系方式：上海市高职高专教学研究会秘书处</p>
		<p>业务咨询（021-54253051）　 技术支持（021-60675958-1069）　 证书办理（021-54253051）</p>
		<p>ＱＱ群：457358462　 邮箱咨询：shsgzgzjxyjh@163.com</p>
		<p>地址：中国·上海市中山南二路620号1号楼102室　邮编：200032</p>
	</div>
</div>