<% unless current_player.present? %>
  <div class="center_right_content col-md-10">
    <div class="col-md-1 col-md-offset-1">
      <%= image_tag "time_line.svg" %>
    </div>
    <div class="col-md-1 time_line_tip">
      <p class="apple_states">报名</p>
      <p class="uploading_states">上传作品</p>
      <p class="result_states">比赛结果</p>
      <p class="end_states">比赛结束</p>
    </div>
    <div class="col-md-6 center_tip">
      <br>
      <p><span class="color_label">比赛名称: </span><span>教学信息化教学大赛</span></p>
      <p><span class="color_label">报名时间: </span><span>2016年07月03日－－2016年07月20日</span></p>
      <p><span class="color_label">已报名人数: </span><span>200人</span> <button class="btn btn-info btn-join">报名</button></p>
      <p><span class="color_label">主办单位: </span><span>上海市信息化教学委员会</span></p><br>
    </div>
  </div>
<% else %>
  <div class="center_right_content for_table col-md-10">
    <div class="text-center name_comp">
      <h4>2016年上海市高等职业院校信息化教学大赛</h4>
      <h4>暨2016年全国职业院校信息化教学大赛上海市选拔大赛</h4>
      <h4>报名汇总表</h4>
    </div>
    <%=  render partial: "judge_check_table"%>
  </div>
<% end %>