<div class="panel panel-default tab_cotent">
  <div class="panel-heading tab_head center_right_panel_heading">
    <%= image_tag("info_bg.png", class: "bg_image")%>
    <div class="tab_title_text color_label">报名汇总表</div>
    <div class="tab_title_right_text">
      <ul>
        <!-- <li>批量选择 ｜</li> -->
        <!-- <li>打印单项报名表 ｜</li> -->
        <li>打印汇总</li>
        <!-- <li>导出</li> -->
      </ul>
    </div>
  </div>
  <div class="center_cotent row">
    <table class="table">
      <thead class="color_label">
        <tr>
          <th>选择</th>
          <th>序号</th>
          <th>参赛项目</th>
          <th>姓名</th>
          <th>课程名称</th>
          <th>手机</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              </label>
            </div>
          </th>
          <td>1</td>
          <td>信息化教学设计比赛</td>
          <td>黎明</td>
          <td>计算机研究</td>
          <td>15802356678</td>
          <td><button class="btn btn-info btn-sm">打印</button></td>
        </tr>
        <tr>
          <th>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              </label>
            </div>
          </th>
          <td>2</td>
          <td>信息化教学设计比赛</td>
          <td>黎明</td>
          <td>计算机研究</td>
          <td>15802356678</td>
          <td><button class="btn btn-info btn-sm">打印</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>