<div class="center_right_content for_table col-md-10">
  <div class="text-center name_comp">
    <h4>2016年上海市高等职业院校信息化教学大赛</h4>
    <h4>暨2016年全国职业院校信息化教学大赛上海市选拔大赛</h4>
    <h4>报名汇总表</h4>
  </div>
  <%=  render partial: "judge_check_table"%>
</div>