<div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 80px;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">标题</h4>
			</div>
			<div class="modal-body">
				<div id="adminModalContent"></div>
				<button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>