<% for name in [:info, :warning, :danger, :success] %>
  <% if flash[name] %>
		<div class="alert alert-<%= name %> alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  	<span aria-hidden="true">&times;</span>
		  </button>
		  <%= flash[name].html_safe %><%= "。" unless flash[name].to_s.include?('。') %>
		  <% flash[name] = nil %>
		</div>
  <% end %>
<% end %>
