<!-- BEGIN FOOTER -->
  <div class="footer">
    <div class="footer-inner">
      2016 &copy; by Tallty.com
    </div>
    <div class="footer-tools">
      <span class="go-top">
        <i class="icon-angle-up"></i>
      </span>
    </div>
  </div>
  <!-- END FOOTER -->
