<div class="col-sm-12">
  <a href="#" onclick="preview();">打印</a>
</div>
<!--startprint-->
<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>参赛课程</th>
      <th>手机</th>
    </tr>
  </thead>
  <tbody>
    <% @recruits.each_with_index do |recruit, index| -%>
    <tr>
      <th><%= index + 1 -%></th>
      <th><%= recruit.cooperater_1 -%></th>
      <th><%= recruit.name -%></th>
      <th><%= recruit.player.phone -%></th>
    </tr>
    <% end -%>
  </tbody>
</table>
<!--endprint-->
<script>
  function preview() {    
    bdhtml=window.document.body.innerHTML;    
    sprnstr="<!--startprint-->";    
    eprnstr="<!--endprint-->";    
    prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+17);
    prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));  
    window.document.body.innerHTML=prnhtml;    
    window.print();    
  }  
</script>
