<div class="container">
	<div class="global-tab" style="margin-bottom: 78px;">
		<div class="global-tab-head">
			<div class="title">编辑选手报名信息</div>
		</div>
		<div class="global-tab-content">
			<p class="text-center title"><%= @talk_competition_activity.name %><br>单项报名表</p>
			<%= render 'form' %>
		</div>
	</div>
</div>
