<div class="container">
  <button class="btn btn-info btn-block" onclick="preview();">打印</button> 
</div>
<!--startprint-->
<div class="container">
  <div class="word-one">
    <h4 class="text-center">2016年上海高等职业院校电子信息大类教师说课比赛</h4>
    <h4 class="text-center">报名汇总表</h4>

    <div class="base-info text-left">
      院校名称（盖章）：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      院校联系人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      电话（手机）：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      电子信箱：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <table class="table table-bordered print-table">
      <tbody>
        <tr>
          <td style="width: 56px;">序号</td>
          <td>参赛项目</td>
          <td style="width: 56px;">姓名</td>
          <td>院校名称</td>
          <td>专业大类名称</td>
          <td>课程名称</td>
          <td>&nbsp;&nbsp;手机&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<!--endprint-->

<script>
  function preview()    
  {    
    bdhtml=window.document.body.innerHTML;    
    sprnstr="<!--startprint-->";    
    eprnstr="<!--endprint-->";    
    prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+17);
    prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));  
    window.document.body.innerHTML=prnhtml;    
    window.print();    
  }  
</script>