<div class="container">
	<div class="global-tab" style="margin-bottom: 78px;">
		<div class="global-tab-head">
			<div class="title">参赛报名</div>
		</div>
		<div class="global-tab-content">
			<p class="text-center title">2016年上海高等职业院校电子信息大类教师说课比赛<br>单项报名表</p>
			<%= render 'form' %>
		</div>
	</div>
</div>
