<div class="container">
	<div class="global-tab" style="margin-bottom: 78px;">
		<div class="global-tab-head">
			<div class="title">参赛报名</div>
		</div>
		<div class="global-tab-content">
			<%= render 'form' %>
		</div>
	</div>
</div>
