<div class="container">
	<button class="btn btn-info btn-block" onclick="preview();">打印</button>	
</div>
<!--startprint-->
<div class="container">
	<div class="word-one">
		<p>附件 1：</p>
		<h4 class="text-center">2016年上海市高等职业院校（其他类专业）</h4>
		<h4 class="text-center">教师说课大赛报名表</h4>

		<div class="base-info">
			参赛院校：________________________&nbsp;&nbsp;&nbsp;&nbsp;联系人：____________&nbsp;&nbsp;&nbsp;&nbsp;手机：____________
		</div>

    <table class="table table-bordered print-table">
      <tbody>
        <tr>
	        <td class="left-td">&nbsp;姓&nbsp;&nbsp;名&nbsp;</td>
	        <td></td>
	        <td class="td-width">性别</td>
	        <td></td>
	        <td class="td-width">最高学位</td>
          <td></td>
          <td rowspan="4" class="photo">照片</td>
        </tr>
        <tr class="left-td">
          <td >出生年月</td>
          <td></td>
          <td class="td-width">职称</td>
          <td></td>
          <td class="td-width">参加教学工作年月</td>
          <td></td>
        </tr>
        <tr class="left-td">
          <td>电子邮箱</td>
          <td></td>
          <td class="td-width">联系电话</td>
          <td colspan="3"></td>
        </tr>
        <tr class="left-td">
          <td>参赛课程</td>
          <td></td>
          <td class="td-width">所属专业</td>
          <td colspan="3"></td>
        </tr>
        <tr class="text-td">
          <td class="left-td">近三年主讲课程情况</td>
          <td colspan="6"></td>
        </tr>
        <tr class="text-td">
          <td class="left-td">推荐院校意见</td>
          <td colspan="6" style="vertical-align: bottom;">
          	<div class="stamp">
          		<p class="text-left">（盖章）<div style="width: 250px;"></div></p>
          		<p class="text-right">______年______月______日</p>
          	</div>
          </td>
        </tr>
      </tbody>
    </table>
	</div>
</div>
<!--endprint-->

<script>
	function preview()    
  {    
	  bdhtml=window.document.body.innerHTML;    
	  sprnstr="<!--startprint-->";    
	  eprnstr="<!--endprint-->";    
	  prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+17);
	  prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));  
	  window.document.body.innerHTML=prnhtml;    
	  window.print();    
	}  
</script>