<div class="center_left_nav col-md-2">
  <ul>
  <% @activities.each do |activity| %>
    <li class="<%= "active" if params[:controller] == 'center' && params[:action] == 'info_competition'%>">
      <%=link_to "/contest/center/activities/#{activity.id}/#{activity.route_type}/marks" do %>
        <p class="text-center"><strong class="left_nav_left_line">|</strong><span class="color_label_info"><%= activity.short_name %></span></p>
      <% end %>
    </li>
    <hr class="left_nav_line">
  <% end %>
  </ul>
</div>