/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require ./framework/default
 *= require ./framework/style
 *= require ./framework/style-responsive
 *= require ./framework/sweetalert
 *= require ./framework/bootstrap-datetimepicker.min
 *= require ./marks
 *= require ./experts
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

a {
  text-shadow: none !important;
}

a:active,
a:hover,
a:focus,
a:visited {
  background-color: initial!important;
  text-decoration: none;
}

h3 small, h4 small, h5 small {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
  padding-bottom: 10px;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #286090!important;
}
