.marks-table {
	overflow-x: auto;
	td {
		min-width: 100px;
		vertical-align: middle;
	}
	tr {
		vertical-align: middle;
	}

	.table > thead > tr > th, 
	.table > thead > tr > td, 
	.table > tbody > tr > th, 
	.table > tbody > tr > td, 
	.table > tfoot > tr > th, 
	.table > tfoot > tr > td {
		vertical-align: middle;
	}
}