<tr class="text-center">
    <td rowspan="3">1</td>
    <td rowspan="3">cell</td>
    <td rowspan="3">cell</td>
    <td rowspan="3">cell</td>
    <td rowspan="3">cell</td>
    <td rowspan="3">cell</td>
    <td rowspan="3">cell</td>

    <td colspan="5">评委姓名：张三</td>
    <td colspan="5">评委姓名：李四</td>
    <td colspan="5">评委姓名：王五</td>
    <td colspan="5">评委姓名：赵六</td>
  </tr>
  <tr>
    <td>总体设计40</td>
    <td>教学过程30</td>
    <td>教学效果15</td>
    <td>特色创新15</td>
    <td>总分</td>

    <td>总体设计40</td>
    <td>教学过程30</td>
    <td>教学效果15</td>
    <td>特色创新15</td>
    <td>总分</td>

    <td>总体设计40</td>
    <td>教学过程30</td>
    <td>教学效果15</td>
    <td>特色创新15</td>
    <td>总分</td>

    <td>总体设计40</td>
    <td>教学过程30</td>
    <td>教学效果15</td>
    <td>特色创新15</td>
    <td>总分</td>
  </tr>
  <tr>
    <td>38</td>
    <td>28</td>
    <td>10</td>
    <td>10</td>
    <td>86</td>

    <td>38</td>
    <td>28</td>
    <td>10</td>
    <td>10</td>
    <td>86</td>

    <td>38</td>
    <td>28</td>
    <td>10</td>
    <td>10</td>
    <td>86</td>

    <td>38</td>
    <td>28</td>
    <td>10</td>
    <td>10</td>
    <td>86</td>
  </tr>