<% content_for :breadcrumb do %>
<li><%= link_to @activity.short_name, "#" %></li>
<% end %>

<div class="marks-table" style="min-height: 600px;">
  <% if 1 == @activity.id %>
    <div class="btn-group" role="group" aria-label="...">
      <% InfoCompetition::Activity::PROJECTS.each do |item| %>
        <%= link_to item, admin_marks_path(activity_id: @activity, project: item), class: "btn btn-#{item == params[:project] ? "primary" : "default"}", type: "button" %>
      <% end %>
    </div>
  <% end %>
  <br><br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>奖项</th>
        <th>排名</th>
        <th>平均分</th>
        <th>评委人数</th>
        <th>姓名</th>
        <th>学校</th>
        <th>院系</th>
        <th>作品名称</th>
        <th colspan="20" class="text-center">评委</th>
      </tr>
    </thead>
    <tbody>
      <% @recruits.each_with_index do |recruit, index| %>
        <%= render partial: "mark", locals: {recruit: recruit, index: index + 1} %>
      <% end %>
    </tbody>
    <tfoot>
      <%= link_to("导出为Excel", admin_marks_path(format: 'xls', activity_id: @activity.id), class: "btn btn-success") %>
    </tfoot>
  </table>
</div>