.btn-pint {
  margin-top: -3px;
  padding: 2px 5px;
}
a {
  text-decoration: none !important;
}
.color_label {
  color: #9B9B9B !important;
}
.color_label_info {
  color: #333 !important;
  text-indent: 14px;
}
.btn-join {
  background-color: #F5A623;
  color: #fff;
  border: 0;
}
//个人中心－个人信息标签样式
.center_info {
  border-right: 1px solid #e0e0e0;
  .thin_text {
    font-weight: lighter;
  }
}
.center_cotent {
  margin: 0;
  overflow-x: auto;
  td {
    min-width: 50px;
    vertical-align: middle;
  }
  tr {
    vertical-align: middle;
  }

  .table > thead > tr > th, 
  .table > thead > tr > td, 
  .table > tbody > tr > th, 
  .table > tbody > tr > td, 
  .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
    vertical-align: middle;
  }
  // 个人中心－左侧导航栏标签样式
  .center_left_nav {
    width: 20%;
    background-color: #fafafa;
    border-right: 1px solid #fafafa;
    height: 680px;
    padding-top: 20px;
    padding-right: 0;
    .left_nav_left_line {
      font-size: 20px;
      color: transparent;
      font-weight: 800;
      padding-right: 10px;
      line-height: 20px;
    }
    .left_nav_line {
      margin: 0px;
    }
    ul {
      padding-left: 0px;
    }
    li {
      list-style-type:none;
      // border-left: 3px solid #F5A623;
      padding: 5px;
      // padding-left: 10px;
      a {
        // padding: 10px 50px 10px 0;
      }
      a:hover, a:focus{
        text-decoration: none;
      }
    }
    .active {
      .color_label_info {
        color: #3D96D5 !important;
      }
      strong {
        color: #F5A623;
      }
    }
  }
  // 个人中心－右侧内容栏标签样式
  .for_table {
    padding: 5px !important;
    .name_comp {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .center_right_content {
    width: 80%;
    padding: 20px;
    .center_tip {
      background-image: image_url('center_tip_bg.svg');
      p{
        padding-left: 20px;
      }
      .btn-join {
        background-color: #F5A623;
        border: 0;
        margin-left: 40px;
      }
    }
    .center_tip1 {
      margin-left: 73px;
      margin-top: 8px;
      background-image: image_url('center_tip_bg.svg');
      p{
        padding-left: 20px;
      }
      .btn-join {
        background-color: #F5A623;
        border: 0;
        // margin-left: 40px;
      }
      .file_p {
        font-size: 12px;
        margin-bottom: 3px;
        margin-left: 20px;
        img {
          width: 20px;
          margin-right: 20px;
          color: green;
        }
      }
    }
    .time_line_tip {
      color: #3D96D5;
      padding-right: 50px;
      margin-right: 10px;
    }
    .apple_states {
      position: absolute;
      left: 0;
      top: 0;
    }
    .uploading_states {
      position: absolute;
      left: 0;
      top: 175px;
    }
    .result_states {
      position: absolute;
      left: 0;
      top: 355px;
    }
    .end_states {
      position: absolute;
      left: 0;
      top: 530px;
    }
  }
  table {
    td {
      line-height: 42px !important;
    }
    tbody {
      th {
        text-align: center;
      }
    }
  }
  .join_table_form {
    padding: 30px 0 10px 70px;
    input {
      border-radius: 0;
      width: 170px;
    }
  }
}
