.logo-banner {
	height: 215px;
	line-height: 196px;
	width: 100%;
	text-align: center;
	.site-name {
		height: 38px;
	}
}

.mNavbar {
	border: none;
	margin-top: 1px;
	.navbar-brand {
    padding: 25px 22px;
    font-size: 14px;
    line-height: 20px;
    margin-left: 0 !important;
    color: #4A4A4A;
	}
	.brand-active {
		background-color: #F1F1F1;
		border-top: 2px solid #3D96D5;
		color: #3D96D5;
		&:hover {
			background-color: #F1F1F1;
		}
	}
	.nav {
		li {
			padding: 23px 0 25px 0;
			border-top: 2px solid transparent;
			a {
				padding: 0 22px;
				border-right: 1px solid #EFEFEF;
				color: #4A4A4A;
				&:hover {
					color: #3D96D5;
				}
			}
			&:first-child > a {
				border-left: 1px solid #EFEFEF;
			}
			&:last-child > a {
				border-right: none;
			}
		}
	}
	.nav > .active {
		border-color: #3D96D5;
		background-color: #F1F1F1;
		a {
			color: #3D96D5;
			background-color: transparent;
			&:hover {
				background-color: #F1F1F1;
			}
		}
	}
	.nav-sign {
		li {
			height: 70px;
			&:first-child a {
				border-left: none;
			}
			a {
				text-align: center;
				color: #3D96D5;
				display: inline-block;
				img {
					height: 20px;
					width: 20px;
					float: left;
				}
				span {
					padding-left: 8px;
					height: 20px;
					width: auto;
					float: left;
				}
			}
		}
	}
}

.navbar-shadow {
	height: 10px;
	width: 100%;
	margin-bottom: 10px;
	background: image-url("navbar_shadow.png") repeat-x;
}

// footer
.footer {
	height: 160px;
	width: 100%;
	background: #4A4A4A;
	padding-top: 37px;
	color: #fff;
	font-size: 16px;
	.info {
		width: 700px;
		margin: 0 auto;
		p {
			margin-bottom: 0;

		}
	}
}

// 通用面板
.global-tab {
		background-color: #F8F8F8;
		border: 1px solid #E8E8E8;
		&:before, &:after {
			content: " ";
	    display: table;
	    clear: both;
		}
	.global-tab-head {
		height: 32px;
		line-height: 32px;
		border-bottom: 2px solid #3D96D5;
		background: image-url("TabTitleBg.png") no-repeat;
		.title {
			width: 200px;
			float: left;
			text-align: center;
			color: #fff;
			font-size: 18px;			
		}
		.more {
			a {
				float: right;
				margin-right: 12px;
				color: #3E3E3E;
			}
		}
	}
	.global-tab-content {
		background-color: #fff;
		padding: 18px;
		color: #363636;
		font-size: 16px;
		position: relative;
		min-height: 210px;
	}
}

// 140px 竖线
.vertical-line {
	position: absolute;
	width: 1px;
	height: 140px;
	margin-top: -70px;
	top: 50%;
	left: 50%;
	background-color: #59C8FF;
}
// 竖线
