.info-competition-opus{
	margin-bottom: 70px;
	font-size: 16px;
	color: #535353;
	.opus-video {
		height: 320px;
		background: #D8D8D8;
	}
	.opus-info {
		padding-left: 12px;
		padding-right: 12px;
		.title {
			font-size: 18px;
			margin-bottom: 35px;
		}
		.author-info {
			color: #9B9B9B;
			font-size: 13px;
			border-bottom: 1px solid #F1F1F1;
			margin-bottom: 25px;
		}
		.opus-content {
			margin-bottom: 30px;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
			.content-text {
				color: #4A90E2;
				font-size: 18px;
			}
		}
	}
	.item-bg {
		margin-top: 15px;
		margin-left: -18px;
		margin-right: -18px;
		background-color: #F8F8F8;
		.item-title {
			height: 32px;
			line-height: 32px;
			background: image-url("info_bg.png") no-repeat;
			font-size: 18px;
			color: #3D96D5;
			padding-left: 45px;
		}
	}
	.opus-data {
		padding: 15px 30px 15px;
		.float-cell {
			float: left;
			margin-right: 30px;
			height: 60px;
			line-height: 60px;
			.pdf-image {
				height: 60px;
			}
			a {
				color: #535353;
			}
		}
	}
}
//打分按钮
.btn-mark {
  padding: 5px 40px;
  background-color: #F5A623;
  color: #fff;
  margin-bottom: 10px;
}
//打分弹框样式
.modal-score {
  margin-top: 200px;
  .modal-body {
    padding-bottom: 45px;
  }
  .unit, .total-points {
    color: #9B9B9B;
  }
  button.close {
    padding: 5px;
  }
  .total-points-label {
    color: #4A90E2;
  }
  .total-points {
    padding: 3px 20px;
    background-color: #F1F1F1;
    border: 1px solid #D2D2D2;
  }
  .btn-total-points {
    padding: 4px 20px;
    background-color: #F5A623;
    color: #fff;
    margin-left: 40px;
  }
  .mark-title, .mark-num, .mark-range {
    padding: 42px 0 0 0;
  }
  .mark-num {
    text-align: center;
  }
  .mark-title {
    color: #4A90E2;
    text-align: center;
  }
  .mark-range {
    color: #9B9B9B;
    text-align: center;
  }
  .progressTime {
    padding: 0;
  }
  #scrollBar, #scrollBar1, #scrollBar2, #scrollBar3 {
    width: 90%;
    height: 10px;
    background-color: #ccc;
    margin: 0 auto;
    margin-top: 50px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    cursor: pointer;
  }
  #scroll_Track, #scroll_Track1, #scroll_Track2, #scroll_Track3 {
    width: 0px;
    height: 10px;
    background-color: #F5A623;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    #scrollBarTxt, #scrollBarTxt1, #scrollBarTxt2, #scrollBarTxt3 {
      margin-right: -25px;
      color: RGB(252, 166, 59);
      position: relative;
      top: -20px;
    }
  }
  #scroll_Thumb, #scroll_Thumb1, #scroll_Thumb2, #scroll_Thumb3 {
    height: 34px;
    width: 34px;
    background-image: image_url('drop.svg');
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -34px;
    cursor: pointer;
  }
}
