<div class="container">
  <div class="global-tab works">
    <div class="global-tab-head">
      <div class="title">作品上传</div>
      <div class="more"></div>
    </div>
    <div class="global-tab-content">
      <div class="row right-content">
        <%= render 'edit_form' %>
      </div>
    </div>
  </div>
</div>