<% content_for :breadcrumb do %>
<li><%= link_to "赛事列表", admin_experts_path %></li>
<% end %>

<div class="text-right">
  <%= link_to new_admin_activity_path, remote: true, format: :js, class: "btn btn-sm btn-primary" do %>
    <i class="icon-plus"></i>新增赛事
  <% end %>
</div>
<br>
<div class="marks-table">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>赛事ID</th>
        <th>赛事名称</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>状态</th>
        <th>是否现场评分</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <%= render partial: "admin/activities/activity", locals: { activity: activity } %>
      <% end %>
    </tbody>
  </table>
</div>

<%= render partial: "admin/share/admin_modal" %>
