/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require_self
 *= require mediaelement_rails
 *= require mediaelement_rails/mejs-skins
 *= require_tree ./app
 */
@import "app/bootstrap_custom";
@import "bootstrap-sprockets";
@import "bootstrap";
//表格样式
.table-head {
  th {
    text-align: center;
  }
}
//路径导航
.breadcrumb {
  text-align: left;
}
//打分按钮
.btn-mark {
  padding: 5px 40px;
  background-color: #F5A623;
  color: #fff;
  margin-bottom: 10px;
}
//打分弹框样式
.modal-score {
  margin-top: 200px;
  .modal-body {
    padding-bottom: 45px;
    .mark-tips {
      color: RGB(246, 166, 35);
    }
  }
  .unit, .total-points {
    color: #9B9B9B;
  }
  button.close {
    padding: 5px;
  }
  .total-points-label {
    color: #4A90E2;
  }
  .total-points {
    padding: 3px 20px;
    background-color: #F1F1F1;
    border: 1px solid #D2D2D2;
  }
  .btn-total-points {
    padding: 4px 20px;
    background-color: #F5A623;
    color: #fff;
    margin-left: 40px;
  }
  .mark-title, .mark-num, .mark-range {
    padding: 42px 0 0 0;
  }
  .mark-num {
    text-align: center;
  }
  .mark-title {
    color: #4A90E2;
    text-align: center;
  }
  .mark-range {
    color: #9B9B9B;
    text-align: center;
  }
  .progressTime {
    padding: 0;
  }
  #scrollBar, #scrollBar1, #scrollBar2, #scrollBar3 {
    width: 90%;
    height: 10px;
    background-color: #ccc;
    margin: 0 auto;
    margin-top: 50px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    cursor: pointer;
  }
  #scroll_Track, #scroll_Track1, #scroll_Track2, #scroll_Track3 {
    width: 0px;
    height: 10px;
    background-color: #F5A623;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    #scrollBarTxt, #scrollBarTxt1, #scrollBarTxt2, #scrollBarTxt3 {
      margin-right: -25px;
      color: RGB(252, 166, 59);
      position: relative;
      top: -20px;
    }
  }
  #scroll_Thumb, #scroll_Thumb1, #scroll_Thumb2, #scroll_Thumb3 {
    height: 34px;
    width: 34px;
    background-image: image_url('drop.svg');
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -34px;
    cursor: pointer;
  }
}