<div class="row">
  <div class="col-sm-12">
    <div class="nest">
      <div class="title-alt">
        <h6>参赛选手</h6>
      </div>
      <div class="body-nest">
        <!-- <p class="lead well">
          
        </p> -->
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>姓名</th>
              <th>手机</th>
              <th>创建时间</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| -%>
            <tr>
              <th><%= user.phone -%></th>
              <th><%= user.name -%></th>
              <th><%= user.created_at.strftime('%F %H:%M') -%></th>
            </tr>
            <% end -%>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <div class="pagination pagination-centered">
                  <div class='row'><%= will_paginate @users, :renderer => BootstrapPagination::Rails ,:remote => {:update => 'messages'} %></div>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
