<% content_for :breadcrumb do %>
<li><%= link_to "专家列表", admin_experts_path %></li>
<% end %>

<div class="text-right">
  <%= link_to new_admin_expert_path, remote: true, format: :js, class: "btn btn-sm btn-primary" do %>
    <i class="icon-plus"></i>新增专家
  <% end %>
</div>
<br>
<div class="marks-table">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>专家姓名</th>
        <th>账号</th>
        <th>邮箱</th>
        <th>最后登录时间</th>
        <th>最后登录IP</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <%= render @experts %>
    </tbody>
  </table>
</div>

<%= render partial: "admin/share/admin_modal" %>